footer {
  background-color: #284177;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 48px 24px;
  align-items: center;
}

.ministry, .links {
  display: flex;
  justify-content: space-between;
}

.links {
  align-items: center;
  height: 100%;
  padding: 15px;
}

a {
  text-decoration: none;
  padding: 5px;
  color: white
}

.icons {
  border: 1px solid white;
  color: white;
  padding: 11px;
}

.write {
  border: 1px solid white;
  vertical-align: middle;
}

.connect {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 3px;

}

.copyright {
  background: #262889;
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
}

ul#footer-menu li {
  display: inline;
  padding: 0 10px 5px 5px;

}

ul#footer-menu li a {
  color: #cfcfcf;
  font-size: 15px;
}

.writer {
  text-align: right;
}

.footer {
  width: 100%;
}
