<div class="navbar">
  <img class="top_img" src="../assets/icons/logo.png">
  <div class="row">
    <div class="col-sm-8">
      <img src="../assets/icons/start.png">
    </div>
    <div *ngIf="!loggedIn">
      <input type="text" class="right" placeholder="Enter Email ID.." [(ngModel)]="email">
      <input type="password" class="right" placeholder="Enter Password.." [(ngModel)]="password">
      <button class="right" (click)="login()">Login</button>
    </div>
    <div *ngIf="loggedIn">
      <ul>
        <li>Add Company</li>
        <li>Update Profile</li>
        <li (click)="logout()">Logout</li>
      </ul>
      <div id="user-details" *ngIf="user">
        <img src="">
      </div>
    </div>
  </div>
</div>
