.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #fff;
  color: black;
}

.top_img {
  width: 100%;
  overflow-x: hidden !important;
}

input {
  background-color: #ddd;
  width: 40%;
}

input[type=text] {
  color: #333e93;
}

input[type=text], select, textarea {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 4px;
}

#user-details img {;
  height: 48px;
  border-radius: 50%;
  width: 48px;
  -o-object-fit: cover;
  object-fit: cover;
}

li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  color: #ef693d;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
