<div id="edit-form">
  <div style="height: 230px; width: 230px;">
    <img [src]='image ? image : "../assets/default-user.jpeg"' style="height: 100%; width: 100%; object-fit: cover;" alt="Project Tumbnail">
  </div>
  <label class="custom-file-upload">
    <input type="file" name="thumbnail" placeholder="Thumbnail" accept="image/*"
           (change)="handleInputChange($event)">
    Upload Thumbnail
  </label>
  <mat-input-container dividerColor="accent">
    <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="name">
  </mat-input-container>
  <mat-input-container dividerColor="accent">
    <input matInput type="text" placeholder="phone" name="branch" [(ngModel)]="phone">
  </mat-input-container>
  <mat-input-container dividerColor="accent">
    <textarea matInput placeholder="Leave a comment" name="address" [(ngModel)]="address"></textarea>
  </mat-input-container>

  <app-custom-button
    [disabled]="!(name && image && address && phone)"
    [text]="'Submit'"
    [action]="updateProfile.bind(this)">
  </app-custom-button>
</div>
