<div id="edit-form">
  <label class="custom-file-upload" style="cursor: pointer;">
    <input type="file" name="thumbnail" placeholder="Thumbnail" accept="image/*"
           (change)="handleInputChange($event)" style="display: none;">
    <div style="height: 230px; width: 230px;">
      <img [src]='image ? image : "../assets/default-user.jpeg"' style="height: 100%; width: 100%; object-fit: cover;" alt="Project Tumbnail">
      <p style="text-align: center;">Upload Display Picture</p>
    </div>
  </label>
  <mat-input-container dividerColor="accent" style="padding-top: 30px; margin: 0 auto;">
    <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="name">
  </mat-input-container>
  <mat-input-container dividerColor="accent" style="margin: 0 auto;">
    <input matInput type="text" placeholder="phone" name="branch" [(ngModel)]="phone">
  </mat-input-container>
  <mat-input-container dividerColor="accent" style="margin: 0 auto;">
    <textarea matInput placeholder="Address" name="address" [(ngModel)]="address"></textarea>
  </mat-input-container>

  <app-custom-button
    [disabled]="!(name || image || address || phone)"
    [text]="'Submit'"
    [action]="updateProfile.bind(this)">
  </app-custom-button>
</div>
