Start here

<div id="page-notifications">
  <app-notification-container [verticalPosition]="'top'" [horizontalPosition]="'right'"></app-notification-container>
</div>


<mat-input-container dividerColor="accent">
  <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="email">
</mat-input-container>

<mat-input-container dividerColor="accent">
  <input matInput type="text" placeholder="Password" name="password" [(ngModel)]="password">
</mat-input-container>

<button (click)="login()">Login</button>

<button (click)="logout()" *ngIf="loggedIn">Logout</button>
