#loan {
  display: flex;
  border-bottom: 1px solid rgb(221, 221, 221);
}
#nav{
  background-color: #38358d;
  flex :0.2;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: outside none none;
  color: white;
  text-align: center;
  cursor: pointer;
}
li:hover{
  background-color: #7C4DFF;
}
.content{
  flex :0.8;
}
li{
  line-height: 100px;
}
#drop{
  display: flex;
  margin-left: 300px;
}
#drop select{
  margin-right: 50px;
  margin-top: 10px;
}
.card{
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  margin-top: 50px;
}

.active {
  font-size: 24px;
  background-color: #7C4DFF;
  border-left: #f14d32;
  border-left-width: 50px;
}
